{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container mt-5">
    <div class="row">
        <div class="col-4 text-center">
            <img class="card-img-top" src="{% static 'images/pict0.jpg' %}" width="75%" alt="placeholder"/>
            <!-- {% if "placeholder" in excerpt.featured_image.url %}
            <img class="card-img-top" src="{% static 'images/pict0.jpg' %}" width="75%" alt="placeholder image">
            {% else %}
            <img class="card-img-top" src=" {{ excerpt.featured_image.url }}" width="75%" alt="{{ excerpt.title }}">
            {% endif %} -->
        </div>
        <div class="col-8">
            <h2>{{ excerpt.title }}</h2>
            {{ excerpt.content | safe }}

        </div>
    </div>
    <div class="row">
        <div class="col text-right">
            <p class="text-end"><em>Updated on: {{ excerpt.updated_on }}</em></p>
        </div>
    </div>
    
</div>
{% endblock content %}