{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<div class="container mt-5">
    <div class="row">
        <div class="col-4 text-center">
            <!-- <img src="{% static 'images/pict1.jpg' %}" width="75%" alt="placeholder"/> -->
            {% if "placeholder" in contact.featured_image.url %}
            <img src="{% static 'images/pict1.jpg' %}" width="75%" alt="placeholder image">
            {% else %}
            <img src=" {{ contact.featured_image.url }}" width="75%" alt="{{ contact.title }}">
            {% endif %}
        </div>
        <div class="col-8">
            <h2>{{ contact.title }}</h2>
            {{ contact.content | safe }}

        </div>
    </div>
    <div class="row">
        <div class="col text-right">
            <p class="text-end"><em>Updated on: {{ contact.updated_on }}</em></p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 my-5">
            <h2>Let's talk about books!</h2>
            <p>I believe in the power of shared thoughts.
                I'm excited to hear from you. Fill out the form
                please.</p>
    
            <!--Render the form using Crispy Forms -->
            <form method="post">
                {{ contact_form | crispy }}
                {% csrf_token %}
                <button class="btn btn-secondary" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}